/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #007B8C;
    padding: 10px;
    vertical-align: middle;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
}

.navbar .logo {
    display: flex;
    flex-drection: row;
    align-items: center;
    
}


.navbar .logo h1 {
    color: white;
    font-size: 24px;
    

}   

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 18px;
}


/* Hero Section */
.hero {
    background-color: #004f58;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
}

.hero .btn {
    background-color: #00aaff;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 50px;
}

/* About Section */
#about {
    padding: 40px 20px;
    background-color: #e8f9fb;
}

#about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
}

/* Gallery Section */
#Tsunami {
    padding: 40px 20px;
    text-align: center;
    font-size: 20px;    
}

#Tsunami h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.Tsunami-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.Tsunami-container img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Tsunami-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.Tsunami-container2 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

/* Gallery Section */
#Tempest {
    padding: 40px 20px;
    text-align: center;
    font-size: 20px;    
}

#Tempest h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.Tempest-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.Tempest-container img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Tempest-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.Tempest-container2 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

/* Gallery Section */
#Kaiju {
    padding: 40px 20px;
    text-align: center;
    font-size: 20px;    
}

#Kaiju h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.Kaiju-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.Kaiju-container img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Kaiju-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.Kaiju-container2 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

/* Gallery Section */
#NautiBuoy {
    padding: 40px 20px;
    text-align: center;
    font-size: 20px;    
}

#NautiBuoy h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.NautiBuoy-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.NautiBuoy-container img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.NautiBuoy-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.NautiBuoy-row:after {
    content: "";
    display: table;
    clear: both;

    
}

.NautiBuoy-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    heigh: 200px;
    
}


/* Gallery Section */
#UoSSOrca {
    padding: 40px 20px;
    text-align: center;
    font-size: 20px;    
}

#UoSSOrca h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.UoSSOrca-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.UoSSOrca-container img {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.UoSSOrca-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.UoSSOrca-container2 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}



/* Contact Section */
#contact {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: center;
}

#contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #007B8C;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

form button:hover {
    background-color: #005f65;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #004f58;
    color: white;
}

Socials {
    text-align: center;
    padding: 20px 20px;
    background-color: #004f58;
    color: white;

    
}
