/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #007B8C;
    padding: 10px;
    vertical-align: middle;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.navbar .logo h1 {
    color: white;
    font-size: 24px;
    

}   

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 18px;
}


/* Hero Section */
.hero {
    background-color: #004f58;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
}

.hero .btn {
    background-color: #00aaff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 50px;
}

/* About Section */
#about {
    padding: 40px 20px;
    background-color: #e8f9fb;
}

#about h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
}

/* Gallery Section */
#Submarines {
    padding: 40px 20px;
    background-color: #004f58;
    color: white;

}

#Submarines h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#Submarines .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Use space-around for better distribution */
    gap: 10px; /* Ensure space between items */
    align-items: flex-start; /* Align items to the top to avoid vertical misalignment */
}

.Submarines .container .video {
    width: 30%; /* Ensure each video container takes up 30% of the width */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Space between video and description */
}

.Submarines .container .Description {
    flex-wrap: wrap;
    text-align:center;
    font-size: 16px;

}
/* Contact Section */
#contact {
    padding: 40px 20px;
    background-color: #ffffff;
}

#contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #007B8C;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

form button:hover {
    background-color: #005f65;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #004f58;
    color: white;
}
